@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@500&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(8, 8, 8);
}

.btn-group {
  display: flex;
}

.btn-group button {
  outline: none;
  border: none;
  width: 400px;
  height: 70px;
  padding: 0.3rem 0;
  margin: 1rem;
  font-size: 20px;
  font-weight: bold;
  background-color: #4c8f2a;
  border-radius: 3px;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1b1b1b;
  color: whitesmoke;
  font-family: 'Indie Flower', cursive;
  font-family: 'Poppins', sans-serif;
}

.options {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.options a {
  display: inline-block;
  color: #FFFFFF;
  letter-spacing: 0;
  font-family: 'Indie Flower', cursive;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  padding: 0 38px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-size: 200% auto;
}

.options a:hover {
  color: #FFFFFF;
  transform: scale(1.2);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.options a:link,
.options a:visited {
  color: #FFFFFF;
  outline: transparent;
  text-decoration: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.picture {
  border-radius: 50%;
  margin-top: 80px;
  width: 400px;
  height: 400px;
  margin-left: 1300px;
}

.picture:hover {
  filter: opacity(.5);
}

.top {
  color: whitesmoke;
  font-size: 20px;
  text-align: left;
  text-align: justify;
  position: relative;
  top: -350px;
  left: 100px;
}

.info {
  color: whitesmoke;
  font-size: 17px;
  text-align: left;
  text-align: justify;
  position: relative;
  top: -325px;
  left: 100px;
}

.button {
  color: whitesmoke;
  font-size: 15px;
  text-align: left;
  text-align: justify;
  position: relative;
  top: -300px;
  left: 100px;
}

.tecno-manage {
  color: whitesmoke;
  font-size: 15px;
  text-align: left;
  text-align: justify;
  position: relative;
  top: -170px;
  left: 100px;
}

.picture-red {
  width: 1650px;
  height: 110px;
}